* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

.container {
    max-width: 920px;
    width: 100%;
    margin: auto;
    font-family: Comic Sans MS;
}

.main_title {
    color: rgb(236, 107, 129);
    font-weight: 900;
}

.container > p, h1 {
    text-align: center;
}

h1, .badges_section {
    margin: 30px 0px;
}

.clearfix::after {
    content: " ";
    display: table;
    clear: both;
}

.label {
    border: 10px solid white;
    float: left;
    background-color: black;
    width: 33%;
}

.shadowed {
    box-shadow:  5px  5px 5px #dededec0,
                -5px -5px 5px #dededec0,
                5px -5px 5px #dededec0,
                -5px  5px 5px #dededec0;
}

img {
    height: 90px;
    float: left;
}

.id_data {
    display: inline-block;
}

.id_data :first-child {
    font-weight: 900;
}

.id_data > p {
    font-size: 15px;
    padding-left: 15px;
    line-height: 30px;
}

.id_data p:not(.data_email) {
    color: white;
}

.data_email {
    color: rgb(66, 162, 222);
}

.data_email:hover {
    text-decoration: underline;
    cursor: pointer;
}